/* Font */
.fw-normal{font-weight:normal;}
.fw-b{font-weight:bold;}
.fw-br{font-weight:bolder;}
.fw-lr{font-weight:lighter;}
.fw-1 {font-weight:100; }
.fw-2 {font-weight:200; }
.fw-3 {font-weight:300; }
.fw-4 {font-weight:400; }
.fw-5 {font-weight:500; }
.fw-6 {font-weight:600; }
.fw-7 {font-weight:700; }
.fw-8 {font-weight:800; }
.fw-9 {font-weight:900; }
.fw-10 {font-weight:1000; }


h1 {
    font-size: calc(2rem + 3.6vw);
}
h2{
font-size: calc(1.5rem + 3vw);
}
h3{
font-size: calc(1.17rem + 2.5vw);
}
h4{
font-size: calc(1rem + 2vw);
}
h5{
font-size: calc(0.83rem + 1.5vw);
}
h6{
font-size: calc(0.67rem + 1vw);
}

p{
font-size:calc(1rem + 0.5vw);
}
